/* Меню сайту на мобільном */
.button__menu {
    z-index: 3;
    display: block;
    margin-left: auto;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;

    & .icon__menu--close {
        display: none;
    }

    &.button__menu--is-open .icon__menu--close {
        display: block;
    }

    &.button__menu--is-open .icon__menu--open {
        display: none;
    }

.logo.logo--is-close {
    display: none;
}

}

.icon__menu {
    width: 40px;
    height: 40px;

    @include transitionRules ();
    
        .button__menu:hover &  {
            fill: $blue-color;
            outline: none;
        }
}

.menu__container {
    z-index: 2;
    overflow: scroll;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 0 48px 40px;

    background-color: $white-color;
       
    &.menu--is-open {
        display: inline-block;
    }
       
}

.site-nav__link--menu {
    padding: 0;
    font-size: 40px;
    line-height: calc(47/40);
        }

.site-nav__item--menu {
    &:not(:last-child) {
        margin: 0 0 32px 0;
    
    }

    &:last-child {
        margin: 0;
        margin-bottom: 30%;
    }
}
.mail-tel__link--menu-mail {
    padding: 0;
    font-size: 34px;
    line-height: calc(40/34);
            }        
.mail-tel__link--menu-tel {
    padding: 0;
    font-size: 24px;
    line-height: calc(28/24);
    
            
}

.mail-tel__item--menu {
    &:not(:last-child) {
        margin: 0 0 32px 0;
    }

    &:last-child {
        margin: 0 0 64px 0;
    }
}

.social__list--menu{
    display: flex;
    justify-content: flex-start;
}

.social__item--menu {
    display: inline-block;
}
.social__item--menu:not(:last-child) {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
        
}

.social__name {
    color: $blue-color;
    font-weight: 500;
    font-size: 18px;
    line-height: calc (22/18);    
    letter-spacing: 0.06em;
    
    
}

.social__link--menu {
    text-decoration: none;
}




/* Медіа запити*/
@media screen and (min-width: $tablet) {
    .button__menu {
        display: none;
    }
    .menu__container.menu--is-open {
        display: none;
    }
    

}