/*Замовлення*/
.substrate {
    max-height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    background-color: #C4C4C4;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../img/hero-back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.order {
    padding-top: 118px;
    padding-bottom: 118px;
    text-align: center;

}



.order__title {

    color: $white-color;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

}


.order__button {
    display: inline;
    margin-top: 30px;
   
}

@media screen and (min-width: $desktop) {
    .order {
        padding-top: 200px;
        padding-bottom: 200px;

    }

    .order__title {
        font-size: 44px;
    }

    .order__button {        
        min-width: 216px;

    }
}