/*Чим ми займаємося | Наша команда | Постійні клієнти*/

.wedo.section {
    padding-top: 0;
}

.wedo__title,
.team__title,
.clients__title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    color: $black-color;

}

.wedo__list,
.team__list,
.clients__list {
    display: flex;
}


.wedo__item {
    /*{width: 370px;} */
    flex-basis: calc((100% - 60px)/3);
}

.team__item {
    /*{width: 270px;} */
    flex-basis: calc((100% - 90px)/4);

    background: $white-color;
    box-shadow:
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.wedo__item:not(:last-child),
.team__item:not(:last-child),
.clients__item:not(:last-child) {
    margin-right: 30px;
}


.wedo__img-back {
    position: relative;

    &::before {
        position: absolute;
        display: inline-block;
        content: '';
        bottom: 0;
        left: 0;
        height: 70px;
        width: 100%;
        background-color: rgba(47, 48, 58, 0.8);

    }

}



.wedo__text-back {
    position: absolute;
    display: flex;
    align-items: center;
    height: 70px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);


    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white-color;
}


.clients__company {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    @include transitionRules (border-color);

    &:hover,
    &:focus {
        border-color: $blue-color;
        outline: none;
    }
}

.clients__icon {
    width: 106px;
    height: 60px;
    fill: #afb1b8;

    @include transitionRules ();

    .clients__company:hover &,
    .clients__company:focus & {
        fill: $blue-color;
        outline: none;
    }

}

.team {
    background: #F5F4FA;
}


.team__name-position {
    padding-top: 30px;
    padding-bottom: 30px;

}

.team__name {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    color: $black-color;

}

.team__position {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;

}

.team__social {
    margin-left: 32px;
    margin-right: 32px;
}

.icon--grey {
    fill: #afb1b8;
}

.team .social__link:hover,
.team .social__link:focus {
    background-color: $blue-color;
    outline: none;
}

.team .social__link:hover .icon,
.team .social__link:focus .icon {
    fill: $white-color;
}