$blue-color: #2196F3;
$white-color: #FFFFFF;
$black-color: #212121;
$text-color: #757575;

/* CSS змінні

:root {
    --blue-color: #2196F3;
    --white-color: #FFFFFF;
    --black-color: #212121;
    --text-color: #757575;
}*/

$benefitsIcons: "antena", "clock", "diagram", "astronaut";

/*.benefits__item--antena::before {
    background-image: url(../img/antena.svg);
}

.benefits__item--clock::before {
    background-image: url(../img/clock.svg);
}

.benefits__item--diagram::before {
    background-image: url(../img/diagram.svg);
}

.benefits__item--astronaut::before {
    background-image: url(../img/astronaut.svg);
}*/

